In [1]:
import pandas as pd

import functions as func

In [4]:
api_url = 'https://gamesheetstats.com/api/useSeasonDivisions/getDivisions/6642'
df_div = func.parse_rest_api_to_pandas(api_url)
df_div

,id,title,assistValue,goalValue,playerStatsDisplay,maxGoalDifferential,fppEnabled
0,37903,14U Girls Tier 2,1,1,True,65535,False
1,37927,14U Tier 1,1,1,True,65535,False
2,37905,10U Tier 2,1,1,True,65535,False
3,37902,18U Tier 3,1,1,True,65535,False
4,43064,10U Girls Tier 1,1,1,True,65535,False
5,37926,15O Tier 1,1,1,True,65535,False
6,37931,14U Tier 4,1,1,True,65535,False
7,37914,12U Girls Tier 1,1,1,True,65535,False
8,37909,14U Tier 2,1,1,True,65535,False
9,37919,18U Tier 1,1,1,True,65535,False
10,38324,12U Tier 1,1,1,True,65535,False
11,37918,19U Girls Tier 2,1,1,True,65535,False
12,37916,14U Girls Tier 1,1,1,True,65535,False
13,37923,16U Girls Tier 2,1,1,True,65535,False
14,37917,16U Tier 3,1,1,True,65535,False
15,37930,10U Girls Tier 2,1,1,True,65535,False
16,37925,16U Tier 1,1,1,True,65535,False
17,37920,13O Tier 1,1,1,True,65535,False
18,37908,14U Tier 5,1,1,True,65535,False
19,37912,10U Tier 3,1,1,True,65535,False
20,38493,18U Tier 4,1,1,True,65535,False
21,37928,18U Tier 2,1,1,True,65535,False
22,37921,16U Girls Tier 1,1,1,True,65535,False
23,37915,12U Girls Tier 2,1,1,True,65535,False
24,37913,10U Tier 4,1,1,True,65535,False
25,37907,12U Tier 3,1,1,True,65535,False
26,37906,12U Tier 2,1,1,True,65535,False
27,37904,16U Tier 2,1,1,True,65535,False
28,37932,12U Tier 5,1,1,True,65535,False
29,37929,10U Tier 5,1,1,True,65535,False
30,37934,12U Tier 4,1,1,True,65535,False
31,41812,10U Tier 1,1,1,True,65535,False
32,37910,14U Tier 3,1,1,True,65535,False

In [5]:
api_url = 'https://gamesheetstats.com/api/useScoredGames/getSeasonScores/6642?filter[limit]=10000'

df_season = func.parse_rest_api_to_pandas(api_url)
df_season

,date,game.number,game.type,game.time,game.date,game.gameId,game.periods,game.homeTeam.id,game.homeTeam.name,game.homeTeam.logo,...,game.homeTeam.recap,game.visitorTeam.id,game.visitorTeam.name,game.visitorTeam.logo,game.visitorTeam.division,game.visitorTeam.record,game.visitorTeam.recap,game.scoresByPeriod,game.finalScore.homeGoals,game.finalScore.visitorGoals
0,"Sat, Feb 15, 2025",None,Regular Season,7:47 PM,"Feb 15, 2025",2248963,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248315,Cyclones Academy 14U Tier 1,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,[],248128,Seacoast Performance Academy Spartans 14U,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,14U Tier 1,(2 - 0 - 1),"[{'period': '1', 'events': [{'playerName': 'JO...","[{'title': '1ST', 'homeGoals': '0', 'visitorGo...",0,8
1,"Sat, Feb 15, 2025",6950204,Regular Season,7:32 PM,"Feb 15, 2025",2238756,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",251274,Northern Cyclones Squirt Minor Gold,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'OW...",248303,Keene 10U White,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,10U Tier 4,(5 - 9 - 2),"[{'period': '1', 'events': [{'playerName': 'HE...","[{'title': '1ST', 'homeGoals': '1', 'visitorGo...",6,4
2,"Sat, Feb 15, 2025",6703687,Regular Season,5:58 PM,"Feb 15, 2025",1941510,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248474,Manchester 12U Major II - Engvik,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'IA...",248475,Manchester 12U Minor I - Hawkes,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,12U Tier 3,(9 - 7 - 3),"[{'period': '1', 'events': [{'playerName': 'CA...","[{'title': '1ST', 'homeGoals': '2', 'visitorGo...",9,3
3,"Sat, Feb 15, 2025",6749225,Regular Season,3:54 PM,"Feb 15, 2025",2244541,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248654,Concord 11U Elite - Poirier,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '3', 'events': [{'playerName': 'AD...",250808,Granite State Wild PW Minor 11U,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,12U Tier 4,(7 - 2 - 0),"[{'period': '1', 'events': [{'playerName': 'ZA...","[{'title': '1ST', 'homeGoals': '0', 'visitorGo...",1,9
4,"Sat, Feb 15, 2025",6694611,Regular Season,3:18 PM,"Feb 15, 2025",1941221,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",251301,Upper Valley 10u Blue,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'JA...",248656,Berlin 10U Paiva,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,10U Tier 3,(5 - 3 - 2),"[{'period': '1', 'events': [{'playerName': 'JO...","[{'title': '1ST', 'homeGoals': '2', 'visitorGo...",5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,"Sat, Sep 7, 2024",6674448,Regular Season,6:06 PM,"Sep 7, 2024",1907924,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248481,Manchester 18U - Baker,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '2', 'events': [{'playerName': 'MI...",251195,NH Mountain Kings 18U AAA Full Season,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,18U Tier 2,(8 - 3 - 3),"[{'period': '1', 'events': [{'playerName': 'NA...","[{'title': '1ST', 'homeGoals': '0', 'visitorGo...",2,2
972,"Sat, Sep 7, 2024",6676288,Regular Season,5:30 PM,"Sep 7, 2024",1907923,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",250620,Granite State Wild 18U Midget (Strum),https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'PA...",250602,Back Bay Indians 18U,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,18U Tier 4,(9 - 4 - 2),"[{'period': '2', 'events': [{'playerName': 'OW...","[{'title': '1ST', 'homeGoals': '1', 'visitorGo...",3,5
973,"Sat, Sep 7, 2024",6676268,Regular Season,2:30 PM,"Sep 7, 2024",1907921,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",250622,Granite State Wild Midget 18U (Behan),https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'AY...",250819,NH Mountain Kings U18-Split,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,18U Tier 2,(4 - 7 - 3),"[{'period': '1', 'events': [{'playerName': 'JA...","[{'title': '1ST', 'homeGoals': '1', 'visitorGo...",2,4
974,"Sat, Sep 7, 2024",6675036,Regular Season,12:20 PM,"Sep 7, 2024",1907856,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248479,Manchester 16U - Bernard,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'JA...",250655,NH Avalanche 16U Tier 1,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,16U Tier 2,(2 - 8 - 0),"[{'period': '2', 'events': [{'playerName': 'LE...","[{'title': '1ST', 'homeGoals': '2', 'visitorGo...",6,3
975,"Sat, Sep 7, 2024",6672386,Regular Season,10:52 AM,"Sep 7, 2024",1907855,"[{'name': '1', 'length': 15}, {'name': '2', 'l...",248480,Manchester 16U - LaCroix,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,...,"[{'period': '1', 'events': [{'playerName': 'WY...",250603,NH East 16U 1,https://imagedelivery.net/ErrQpIaCOWR-Tz51PhN1...,16U Tier 3,(14 - 2 - 0),"[{'period': '1', 'events': [{'playerName': 'TO...","[{'title': '1ST', 'homeGoals': '3', 'visitorGo...",4,6